:root {
  --greyscale-50: rgba(248, 250, 252, 1);
  --secondaryglamour-pink500-base: rgba(237, 79, 157, 1);
  --additionalwhite: rgba(255, 255, 255, 1);
  --greyscale-900: rgba(15, 23, 42, 1);
  --greyscale-500: rgba(100, 116, 139, 1);
  --secondaryalgal-fuel500-base: rgba(36, 209, 100, 1);
  --secondaryalgal-fuel50: rgba(240, 253, 244, 1);
  --secondaryglamour-pink50: rgba(253, 242, 248, 1);
  --greyscale-200: rgba(226, 232, 240, 1);
  --primary600-base: rgba(37, 99, 235, 1);
  --primary-50: rgba(239, 246, 255, 1);
  --secondaryamber-50: rgba(255, 251, 235, 1);
  --heading-h3-font-family: "Inter-Bold", Helvetica;
  --heading-h3-font-weight: 700;
  --heading-h3-font-size: 24px;
  --heading-h3-letter-spacing: 0.20000000298023224px;
  --heading-h3-line-height: 125%;
  --heading-h3-font-style: normal;
  --body-large-regular-font-family: "Inter-Regular", Helvetica;
  --body-large-regular-font-weight: 400;
  --body-large-regular-font-size: 16px;
  --body-large-regular-letter-spacing: 0px;
  --body-large-regular-line-height: 160.0000023841858%;
  --body-large-regular-font-style: normal;
  --body-medium-semibold-font-family: "Inter-SemiBold", Helvetica;
  --body-medium-semibold-font-weight: 600;
  --body-medium-semibold-font-size: 14px;
  --body-medium-semibold-letter-spacing: 0.20000000298023224px;
  --body-medium-semibold-line-height: 160.0000023841858%;
  --body-medium-semibold-font-style: normal;
  --body-small-medium-font-family: "Inter-Medium", Helvetica;
  --body-small-medium-font-weight: 500;
  --body-small-medium-font-size: 12px;
  --body-small-medium-letter-spacing: 0px;
  --body-small-medium-line-height: 160.0000023841858%;
  --body-small-medium-font-style: normal;
  --body-small-semibold-font-family: "Inter-SemiBold", Helvetica;
  --body-small-semibold-font-weight: 600;
  --body-small-semibold-font-size: 12px;
  --body-small-semibold-letter-spacing: 0px;
  --body-small-semibold-line-height: 160.0000023841858%;
  --body-small-semibold-font-style: normal;
  --body-small-regular-font-family: "Inter-Regular", Helvetica;
  --body-small-regular-font-weight: 400;
  --body-small-regular-font-size: 12px;
  --body-small-regular-letter-spacing: 0px;
  --body-small-regular-line-height: 160.0000023841858%;
  --body-small-regular-font-style: normal;
  --body-small-bold-font-family: "Inter-Bold", Helvetica;
  --body-small-bold-font-weight: 700;
  --body-small-bold-font-size: 12px;
  --body-small-bold-letter-spacing: 0px;
  --body-small-bold-line-height: 160.0000023841858%;
  --body-small-bold-font-style: normal;
  --heading-h5-font-family: "Inter-Bold", Helvetica;
  --heading-h5-font-weight: 700;
  --heading-h5-font-size: 18px;
  --heading-h5-letter-spacing: 0.20000000298023224px;
  --heading-h5-line-height: 139.9999976158142%;
  --heading-h5-font-style: normal;
  --body-medium-medium-font-family: "Inter-Medium", Helvetica;
  --body-medium-medium-font-weight: 500;
  --body-medium-medium-font-size: 14px;
  --body-medium-medium-letter-spacing: 0.20000000298023224px;
  --body-medium-medium-line-height: 160.0000023841858%;
  --body-medium-medium-font-style: normal;
  --body-large-bold-font-family: "Inter-Bold", Helvetica;
  --body-large-bold-font-weight: 700;
  --body-large-bold-font-size: 16px;
  --body-large-bold-letter-spacing: 0.20000000298023224px;
  --body-large-bold-line-height: 150%;
  --body-large-bold-font-style: normal;
  --body-large-medium-font-family: "Inter-Medium", Helvetica;
  --body-large-medium-font-weight: 500;
  --body-large-medium-font-size: 16px;
  --body-large-medium-letter-spacing: 0.20000000298023224px;
  --body-large-medium-line-height: 150%;
  --body-large-medium-font-style: normal;
}
